@charset "utf-8";
/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background-color: #e8d9bf;
}

/* <ヘッダー箇所> */
.header_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2.51%;
    padding-left: 6.53%;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 6.35% 0 2.51%;
}

.header_container h1 {
    width: 226px;
}
.pc_nav ul {
    display: flex;
}

.pc_nav li a {
    color: #fff;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 105px;
    display: block;
    text-align: center;
}
/* スライダー */
.slider img {
    width: 100%;
}

/* サイトのコンセプト */

.ton {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.zero {
    font-size: 30px;
    padding-top: 107px;
    padding-bottom: 60px;
}

.one {
    font-size: 82px;
    line-height: 1.17;
    padding-bottom: 20px;
}

.two {
    font-size: 23px;
    line-height: 1.65;
    padding-bottom: 100px;
}

/* about us作成 */

.nan {
    display: flex;
    font-family: "游明朝";
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    align-items: center;
}

.ao img {
    border-radius: 0 0 80px 0;
}

.sha {
    padding-left: 7.5%;
    width: 50%;
    box-sizing: border-box;
}

.about {
    padding-bottom: 50px;
    zoom: 0.5;
}

.iti {
    font-size: 44px;
    line-height: 1.38;
    padding-bottom: 25px;
}

.ni {
    font-size: 16px;
    line-height: 1.625;
}

/* メニュー */

.tannyao {
    text-align: center;
    zoom: 0.5;
    padding-top: 100px;
    padding-bottom: 70px;
}

.pe {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 100px;
}

.pe img {
    border-radius: 0 80px 0 0;
}

.pe h3 {
    font-size: 38px;
    color: red;
    padding-left: 15px;
    padding-bottom: 25px;
    margin-top: -20px;
}

.pe p {
    font-size: 17px;
    line-height: 1.23;
}

.pe div {
    width: 30%;
}

/* ギャラリー */

.gallery_rogo {
    text-align: center;
    zoom: 0.5;
    padding-bottom: 30px;
}
.gallery_photo img {
    width: 384px;
    height: 300px;
}

.gallery_photo {
    display: flex;
    width: 20%;
}

/* イベント */

.event_rogo {
    text-align: center;
    zoom: 0.5;
    padding-top: 70px;
    padding-bottom: 40px;
}

.event_content {
    max-width: 1000px;
    box-sizing: border-box;
    border: black 3px solid;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    height: 200px;
    background-color: white;
}

.event_content ul {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.event_content li {
    font-size: 23px;
    line-height: 1.95;
    text-align: left;
    padding-left: 40px;
    list-style: none;
}

.event_content span {
    text-align: left;
    padding-left: 40px;
    text-decoration: black underline;
}

/* アクセス */

.access_rogo {
    text-align: center;
    zoom: 0.5;
    padding-top: 80px;
    padding-bottom: 45px;
}

iframe {
    width: 100%;
    height: 400px;
}

/* フッター */

.set {
    background: #fff;
}

.start {
    display: flex;
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    zoom: 0.5;
    align-items: center;
}

.footer_content p {
    padding-left: 70px;
    margin-top: -5px;
    font-size: 20px;
    line-height: 1.95;
    text-align: left;
}

.last {
    text-align: center;
    font-size: 16px;
    margin-top: 85px;
    padding-bottom: 80px;
}

/* トップへボタン */

.top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

.sp_nav {
    display: none;
}
.sp_menu_btn {
    display: none;
}

.sp_two {
    display: none;
}

.sp_about {
    display: none;
}

@media screen and (max-width: 1024px) {
    .pc_nav {
        display: none;
    }
    .sp_menu_btn {
        position: absolute;
        top: 30px;
        right: 10px;
        display: block;
        cursor: pointer;
        z-index: 100;
    }
    .sp_menu_btn span {
        background: #fff;
        width: 33px;
        height: 3px;
        display: block;
        position: relative;
        transition: 0.3s;
    }
    .sp_menu_btn span::before,
    .sp_menu_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        display: block;
        background: #fff;
        position: absolute;
        transition: 0.3s;
    }
    .sp_menu_btn span::before {
        bottom: 10px;
    }
    .sp_menu_btn span::after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }

    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .sp_nav a {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        font-size: 20px;
        display: block;
        padding: 20px 0;
        text-align: center;
    }

    /* サイトのコンセプト */

    .zero {
        font-size: 25px;
    }

    .one {
        font-size: 70px;
    }

    .two {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    /* <!-- <サイトのコンセプト> --> */
    .zero {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .one {
        font-size: 8.5vw;
        margin-bottom: 20px;
    }

    .two {
        font-size: 16px;
        line-height: 1.875;
    }

    .sp_two {
        display: block;
    }

    /* <!-- about usの作成 --> */

    .nan {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sha {
        width: 100%;
    }

    .sp_about {
        display: block;
        width: 160px;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .about {
        display: none;
    }

    .iti {
        font-size: 36px;
        line-height: 1.25;
        margin-bottom: 18px;
    }

    .ni {
        font-size: 16px;
        line-height: 1.75;
    }

    /* <!-- メニュー --> */

    .tannyao img {
        /* width: 87.87px; */
        /* margin-bottom: 20px; */
        width: 160px;
    }

    .pe {
        display: block;
    }

    .pe div {
        width: 100%;
        padding: 0.266%;
    }

    .pe p {
        font-size: 17px;
        line-height: 1.47;
        font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
            "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E",
            "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    }

    .pe h3 {
        font-size: 40px;
    }

    .box1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .box2 {
        width: 100%;
        margin-bottom: 50px;
    }

    .box3 {
        width: 100%;
        margin-bottom: 0;
    }

    /* <!-- ギャラリー --> */

    .gallery_rogo {
        width: 250px;
        margin: 0 auto;
    }

    /* <!-- イベント --> */

    .event_rogo {
        width: 200px;
        margin: 0 auto;
    }

    .event_content {
        padding-top: 20px 9.17%;
        width: 100%;
    }
    .event_content ul {
        margin: 0 auto;
        max-width: 730px;
    }

    .event_content ul li {
        font-size: 16px;
    }

    /* <!-- アクセス --> */

    .access_rogo {
        width: 225px;
        margin: 0 auto;
    }

    .iframe {
        width: 100%;
        height: 191px;
    }

    /* フッター */

    .start {
        display: block;
        padding: 40px 0;
        text-align: left;
    }

    .start p {
        text-align: left;
    }
    .last {
        font-size: 16px;
    }
}
